<div id="top" class="row">
    <div class="well col-md-6 col-md-offset-3">
        <h1>Welcome Admin!!</h1>
        <button id="newGame" class="btn btn-primary">Set up a New Game</button>
        <a class="btn btn-primary" href="/admin/players">See list of players for a game</a>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Game</h4>
            </div>
            <div class="modal-body">
                <select id="maxPeople" class="form-control">
                    <option value="0">--Max Players--</option>
                    @for (int x = 10; x <= 30; x++)
                    {
                        <option value="@x">@x</option>
                    }
                </select>
                <input id="date" type="date" class="form-control" /> 
            </div>
            <div class="modal-footer">
                <button id="addGame" type="button" class="btn btn-success">Add Game</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/adminIndex.js"></script>
}