<div class="row">
    <div style="text-align: center" class="well col-md-10 col-md-offset-1">
        <h1>Sign Up for Notifications When Games are Set Up</h1>
        <form method="post" action="/home/Notify">
            <input type="text" name="firstName" placeholder="First Name" class="form-control" />
            <br />
            <input type="text" name="lastName" placeholder="Last Name" class="form-control" />
            <br />
            <input type="text" name="email" placeholder="Email" class="form-control" />
            <br />
            <button class="btn btn-success">Sign Up!</button>
        </form>
    </div>
</div>