<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SignUpHockey.Data.Properties.Settings.HockeySignupConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=HockeySignup;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>